<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>filter.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>/user/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>QuizFilter</filter-name>
        <filter-class>filter.QuizFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>QuizFilter</filter-name>
        <url-pattern>/quiz/*</url-pattern>
    </filter-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/error-404.jsp</location>
    </error-page>

    <!--  <error-page>
          <error-code>500</error-code>
          <location></location>
      </error-page>-->
</web-app>

