.page-header {
    text-align: center;
}

.login {
    margin: auto;
    padding: 5%;
    text-align: center;
    width: 40%;
}

.sign-up {
    margin: auto;
    padding: 5%;
    text-align: center;
    width: 50%;
}

.create-quiz {
    margin: auto;
    width: 40%;
    text-align: center;
}

.btn {
    margin: auto;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 10px;
}

.form-control {
    margin: auto;
    text-align: center;
    width: 50%;
}

.form-group {
    margin: auto;
    text-align: left;

}

.profile-info {
    text-align: center;
}

.navbar {
    margin-bottom: 20%;
}

body {
    min-height: 2000px;
    padding-top: 70px;
}